.countries {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.country {
    border: 2px solid #000;
    border-radius: 10px;
    padding: 10px;
    background: #f0f0f0;
}

.country img {
    width: 200px;
}
